{% extends 'autobiography/base.html' %}
{% block content %}
    <div class="container py-3" id="about">
        <h1 class="font-weight-light">Hi again! I'm Khoa!</h1>
        <p>I am a self-motivated and quick-minded entry-level engineer. I'm accomplished in using object-oriented programing paradigm to write maintainable and reusable Python code, facilitating smooth and continuous flow of changes to codes in small-sized teams via Git and GitHub, and applying machine learning concepts using Scikit-learn and PyTorch.</p>
    </div>
    <section id="education" class="bg-light py-4">
        <div class="container">
            <h3 class="font-weight-light"><strong>Education</strong></h3>
            <div id="experience-3" class="row">
                <div class="col-5">
                    <p class="mb-0"><em>Master of Science, Biomedical Engineering</em></p>
                    <p class="mb-0">University of Saskatchewan, Saskatoon, SK</p>
                </div>
                <div class="col-7">
                    <p id="experience-3-date" class="text-end"><em>Jan 2018 - Jan 2021</em></p>
                </div>
            </div>
            <br>
            <div id="experience-3" class="row">
                <div class="col-5">
                    <p class="mb-0"><em>Bachelor of Engineering, Biomedical Engineering</em></p>
                    <p class="mb-0">Vietnam National University - International University HCMIU</p>
                </div>
                <div class="col-7">
                    <p id="experience-3-date" class="text-end"><em>Sept 2012 - Jun 2016</em></p>
                </div>
            </div>
        </div>
    </section>
    <section id="experience" class="container py-5">
        <h3 class="font-weight-light"><strong>Relevant Experience</strong></h3>
        <div class="py-2">
            <!-- timeline item 1 -->
            <div class="row no-gutters">
                <div class="col-md">
                    <!--spacer-->
                </div>
                <!-- timeline item 1 center dot -->
                <div class="col-md-1 text-center flex-column d-none d-md-flex">
                    <div class="row h-50">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <!-- timeline item 1 event content -->
                <div class="col-md py-2" data-aos="zoom-in">
                    <div class="card border-success shadow">
                        <div class="card-body">
                            <h4 class="card-title text-success mb-0">Scraping Government of Canada Job Bank for Job Postings (Project)</h4>
                            <h6 class="card-title text-success mb-0">Jul 2022 - Present</h6>
                            <div class="small font-italic">Kibbi Job Search App by Willing People Inc., Calgary, AB</div>
                            <p class="card-text mt-2">Built and maintained a Python package used for scheduling, scraping, and collecting desired job postings from Canada Job Bank in JSON format.</p>
                            <span class="text-normal badge badge-dark">python</span>
                            <span class="text-normal badge badge-dark">web-scraping</span>
                            <span class="text-normal badge badge-dark">selenium</span>
                            <span class="text-normal badge badge-dark">beautiful soup</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <!-- timeline item 2 -->
            <div class="row no-gutters">
                <div class="col-md py-2" data-aos="zoom-in">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title mb-0">Driver Health Hub - AI Solution for Heart Attack Prevention (Project)</h4>
                            <h6 class="card-title mb-0">Jun 2022 - Present</h6>
                            <div class="small font-italic">Innovation 4 Health 2022 Health Hackathon Competition, Calgary, AB</div>
                            <p class="card-text mt-2">Designed 5-stage logical ML architecture to process data (heart rate and biometric features) collected from wearable devices to predict potential heart attack events, winning $5,000 grant for the Best Healthcare Devices.</p>
                            <p class="card-text mt-2">Collaborated with software development team for mobile deployment using PyTorch Mobile.</p>
                            <span class="text-normal badge badge-dark">python</span>
                            <span class="text-normal badge badge-dark">machine learning</span>
                            <span class="text-normal badge badge-dark">pytorch</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 text-center flex-column d-none d-md-flex">
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-md">
                    <!--spacer-->
                </div>
            </div>
            <!--/row-->
            <!-- timeline item 3 -->
            <div class="row no-gutters">
                <div class="col-md">
                    <!--spacer-->
                </div>
                <div class="col-md-1 text-center flex-column d-none d-md-flex">
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-md py-2" data-aos="zoom-in">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title mb-0">Biomedical/Machine Learning Graduate Researcher</h4>
                            <h6 class="card-title mb-0">Jan 2018 - Jan 2021</h6>
                            <div class="small font-italic">University of Saskatchewan, Saskatoon, SK</div>
                            <p class="card-text mt-2">Developed a portal device based on Raspberry Pi to build a database from 10 blood glucose concentrations with 184 wavelength features for the Non-invasive Diabetes Monitoring project.</p>
                            <p class="card-text mt-2">Implemented and cross-validated classification models using Scikit-learn libraries resulted in a consistent performance (91% accuracy, 89% specificity and recall.)</p>
                            <span class="text-normal badge badge-dark">python</span>
                            <span class="text-normal badge badge-dark">machine learning</span>
                            <span class="text-normal badge badge-dark">scikit-learn</span>
                            <span class="text-normal badge badge-dark">embedded system</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <!-- timeline item 4 -->
            <div class="row no-gutters">
                <div class="col-md py-2" data-aos="zoom-in">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title mb-0">Bio-photonic Lab Research Assistant</h4>
                            <h6 class="card-title mb-0">Sept 2014 - May 2016</h6>
                            <div class="small font-italic">BMEIU Bio-photonic Lab, VNU-HCMIU, Ho Chi Minh City</div>
                            <p class="card-text mt-2">Processed digital signal and image captured by infrared camera using SciPy library in Python to build a Real-time Vein Visualization micro-device.</p>
                            <p class="card-text mt-2">Instructed first-year student on MATLAB basic syntax and operations.</p>
                            <span class="text-normal badge badge-dark">python</span>
                            <span class="text-normal badge badge-dark">dsp</span>
                            <span class="text-normal badge badge-dark">image processing</span>
                            <span class="text-normal badge badge-dark">embedded system</span>
                            <span class="text-normal badge badge-dark">matlab</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 text-center flex-column d-none d-md-flex">
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col-md">
                    <!--spacer-->
                </div>
            </div>
            <!--/row-->
            <!-- timeline item 4 -->
            <div class="row no-gutters">
                <div class="col-md">
                    <!--spacer-->
                </div>
                <div class="col-md-1 text-center flex-column d-none d-md-flex">
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                    </h5>
                </div>
                <div class="col-md py-2" data-aos="zoom-in">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title mb-0">Summer Research Intern</h4>
                            <h6 class="card-title mb-0">Jun 2015 - Sept 2015</h6>
                            <div class="small font-italic">University of Saskatchewan, Canada</div>
                            <p class="card-text mt-2">Cooperated with a postdoc and two other interns to develop a heterogenous breast phantom and a protocol to inspect the effectiveness of ultra-wideband instrument prototype in non-invasive breast cancer determination.</p>
                            <p class="card-text mt-2">Reported daily to supervisor to update results, solutions, to explain specific decision, strategy as well as to receive direction and guidance, which resulted in an organized and smooth progression of the project.</p>
                            <span class="text-normal badge badge-dark">python</span>
                            <span class="text-normal badge badge-dark">dsp</span>
                            <span class="text-normal badge badge-dark">embedded system</span>
                            <span class="text-normal badge badge-dark">matlab</span>
                            <span class="text-normal badge badge-dark">labview</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="bg-light">
        <div class="container py-5">
            <h2 class="text-center font-weight-light mb-5">Skills &amp; Tools</h2>
            <div class="row text-center justify-content-center">
                <div class="col-lg col-md-6 py-3">
                    <h5>Concepts</h5>
                    <p class="text-truncate">Object-oriented Programing</p>
                </div>
                <div class="col-lg col-md-6 py-3">
                    <h5>Languages</h5>
                    <p>Python</p>
                    <p>HTML/CSS</p>
                </div>
                <div class="col-lg col-md-6 py-3">
                    <h5>Frameworks</h5>
                    <p>Django</p>
                    <p>Scikit-learn</p>
                </div>
                <div class="col-lg col-md-6 py-3">
                    <h5>IDE & Build Tools</h5>
                    <p>Visual Studio Code</p>
                    <p>PyCharm</p>
                </div>
                <div class="col-lg col-md-6 py-3">
                    <h5>Platforms &amp; API's</h5>
                    <p>Heroku</p>
                    <p>Python Everywhere</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

